/* CSS file for Home component */

/* properties for upcoming movies heading */
.upcoming-movies-heading {
  background-color: #ff9999;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
}

/* properties for scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* properties for movie poster */
.movie-poster {
  height: 100%;
  width: auto;
}

/* properties for released movies and filter section */
.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 16px;
}

/* width for released movies section */
.left {
  width: 76%;
}

/* width for filter section */
.right {
  padding-top: 20px;
  width: 24%;
}

.released-movie-grid-item {
  margin: 15px;
}

@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 90%;
  }
  .released-movie-grid-item {
    margin: 8px;
  }
}
