/* CSS file for Details component */

/* top-level properties */
.details {
  text-align: left;
}

.flex-container-details {
  display: flex;
}

.flex-container-details > div {
  margin: 0px 16px;
}

/* properties for left section */
.left-details {
  width: 20%;
  text-align: center;
}

/* properties for center section */
.center-details {
  width: 60%;
}

/* properties for right section */
.right-details {
  width: 20%;
}

/* other properties */
.bold {
  font-weight: bold;
}

.top-margin {
  margin-top: 16px;
}

.trailer-margin {
  margin: 16px 0px 16px 0px !important;
}

@media (max-width: 992px) {
  .left-details {
    width: 100%;
    text-align: center;
  }
  .center-details {
    width: 90%;
  }
  .right-details {
    width: 100%;
  }
  .flex-container-details {
    flex-direction: column;
  }
  .padding-right {
    margin-right: 32px;
  }
}
